* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(140, 79, 255);
}
h3{
  margin: 0;
  font-size: 20px;
}
.nav-wrapper,
.mainContent {
  width: 90vw;
  margin: auto;
}
.addPostBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.postsContainer {
  padding: 50px 0 0;
}
.postsItem {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.postHeader h3 {
  margin: 0 auto;
}
.loader {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.newPostDialogContainer{
overflow: hidden;
transition: height 0.3s ease;
}
.DialogContainer{
  padding: 20px;
  border-radius: 10px;
}

.post{
  margin: 30px auto 20px;
  padding: 20px;
  border-radius: 10px;

}
.addComments{
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.commentContent{
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
